<h1>Listing voice_over_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voice_over_types.each do |voice_over_type| %>
      <tr>
        <td><%= voice_over_type.name %></td>
        <td><%= link_to 'Show', voice_over_type %></td>
        <td><%= link_to 'Edit', edit_voice_over_type_path(voice_over_type) %></td>
        <td><%= link_to 'Destroy', voice_over_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voice over type', new_voice_over_type_path %>
