<div class="content">

	<h2 class="content-header">Your Voiceover Projects</h2>

	<% if current_user.gigs.count == 0 %>

		<div class="project-dashboard none">

			<%= link_to "+ Submit a New Project", project_submit_path%>

		</div>


	<% else%>


		<div class="project-dashboard">

			<% current_user.gigs.each do |project| %>

				<div class="project-summary-index" id="<%= project.id%>">

					<div class="project-summary-index-header">
						<a><span>Commercial voiceover that sounds like</span> <%= image_tag project.celeb.image.url(:medium), :class => "celeb-img-small" %> <span><%= project.celeb.full_name %></span></a>
					</div>

					<div class="project-summary-index-date">
						<a>Submitted: <%= project.created_at.strftime("%b %d, %Y") %></a>
					</div>

					<div class="project-summary-index-status">
						<a>Status: <%= project.status %></a>
					</div>

				</div>

			<% end %>


		</div>


	<%end%>

</div>