<div class="header-container">

	<div class="header-center">

		<ul class="header-left">

			<li><%= link_to "Home", root_path %></li>

			<% if user_signed_in? %>

				<% if current_user.is_voiceover_professional %>

					<li><%= link_to "Verify Me", celebrities_path %></li>

				<% else %>

					<li><%= link_to "Find Celebrity Voices", celebrities_path %></li>

				<% end %>

			<%else%>

				<li><%= link_to "Find Celebrity Voices", celebrities_path %></li>

			<%end%>

		</ul>

		<ul class="header-right">

			<% unless user_signed_in? %>

				<li><%= link_to "Signup", new_user_registration_path %></li>
				<li><%= link_to "Login", new_user_session_path %></li>
				
			<%else%>

				<li><%= link_to "My Profile", edit_user_registration_path %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

			<%end%>

		</ul>

	</div>
	
</div>