<div class="header-container">

	<ul class="header-left">

		<li><%= link_to "Home", root_path %></li>
		<li><a>Browse</a></li>
		<li><a>Find</a></li>

	</ul>

	<ul class="header-right">

		<% unless user_signed_in? %>

			<li><%= link_to "Signup", new_user_registration_path %></li>
			<li><%= link_to "Login", new_user_session_path %></li>
			
		<%else%>

			<li><%= current_user.email %></li>
			<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

		<%end%>

	</ul>

</div>